<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lagou.dao.RoleMapper">
    <!--查询所有role-->
    <select id="findAllRole" parameterType="com.lagou.domain.Role" resultType="com.lagou.domain.Role">
        select * from roles
        <where>
            <if test="name != null and name != ''">
                name = #{name}
            </if>
        </where>
    </select>

    <!--根据roleId查找menuId-->
    <select id="findMenuIdByRoleId" resultType="java.lang.String" parameterType="int">
        select m.id from roles r left join role_menu_relation rm on r.id = rm.role_id
                                left join menu m on m.id = rm.menu_id where r.id = #{roleId}
    </select>

    <!--根据角色id清空对应菜单列表-->
    <delete id="deleteRoleContextMenu" parameterType="Integer">
        delete from role_menu_relation where role_id = #{roleId}
    </delete>

    <!--分配菜单列表-->
    <insert id="roleContextMenu" parameterType="com.lagou.domain.Role_menu_relation">
        insert into role_menu_relation values(null,#{menuId},#{roleId},#{createdTime},#{updatedTime},#{createdBy},#{updatedby})
    </insert>

    <!--删除角色-->
    <delete id="deleteRole" parameterType="int">
        delete from roles where id = #{id}
    </delete>

    <!--根据角色id查询对应资源信息-->
    <select id="findAllResourceByRoleIdAndCategoryId" resultType="com.lagou.domain.Resource" parameterType="int">
        SELECT
          rs.*
        FROM
          roles r
          INNER JOIN role_resource_relation rr
            ON r.id = rr.`role_id`
          INNER JOIN resource rs
            ON rr.`resource_id` = rs.`id`
        WHERE r.id = #{roleId} and rs.category_id = #{categoryId}
    </select>

    <!--根据角色id查询对应资源分类信息-->
    <select id="findAllResourceCategoryByRoleId" resultType="com.lagou.domain.ResourceCategory" parameterType="int">
        SELECT DISTINCT
          rc.*
        FROM
          role_resource_relation rr
          INNER JOIN resource rs
            ON rs.id = rr.`resource_id`
          INNER JOIN resource_category rc
            ON rs.`category_id` = rc.id
        WHERE rr.`role_id` = #{roleId}
    </select>

    <!--根据角色id查询对应的资源id-->
    <select id="findResourceIdByRoleId" resultType="java.lang.Integer" parameterType="int">
        select rr.resource_id from roles r inner join role_resource_relation rr on r.id = rr.role_id where r.id = #{roleId}
    </select>

    <!--根据角色id删除角色资源中间表-->
    <delete id="deleteRoleResourceRelation" parameterType="int">
        delete from role_resource_relation where role_id = #{roleId}
    </delete>

    <!--为角色分配资源信息-->
    <insert id="roleContextResource" parameterType="com.lagou.domain.Role_menu_relation">
        insert into role_resource_relation values(null,#{resourceId},#{roleId},#{createdTime},#{updatedTime},#{createdBy},#{updatedBy})
    </insert>
</mapper>
