<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lagou.dao.UserMapper">

    <!--分页多条件查询-->
    <select id="findAllUserByPage" parameterType="com.lagou.domain.UserVO" resultType="com.lagou.domain.User">
        select * from user
        <where>
            <if test="true">
               is_del != 1
            </if>
            <if test="username != null and username != ''">
               and name = #{username}
            </if>
            <if test="startCreateTime != null and endCreateTime != null">
               and create_time between #{startCreateTime} and #{endCreateTime}
            </if>
        </where>
    </select>

    <!--更改用户状态-->
    <update id="updateUserStatus" parameterType="com.lagou.domain.User">
        update user set status = #{status} ,update_time = #{update_time} where id = #{id}
    </update>

    <!--用户登录-->
    <select id="login" resultType="com.lagou.domain.User" parameterType="com.lagou.domain.User">
        select * from user where phone = #{phone}
    </select>

    <!--分配角色:回显-->
    <select id="findUserRoleById" resultType="com.lagou.domain.Role" parameterType="int">
        select * from roles r inner join user_role_relation ur on r.id = ur.role_id where ur.user_id = #{userId}
    </select>

    <!--清空中间表-->
    <delete id="deleteUserContextRole" parameterType="int">
        delete from user_role_relation where user_id = #{userId}
    </delete>

    <!--分配角色:新增-->
    <insert id="userContextRole" parameterType="com.lagou.domain.User_Role_relation">
        insert into user_role_relation values(null,#{userId},#{roleId},#{createdTime},#{updatedTime},#{createdBy},#{updatedBy})
    </insert>

    <!--动态菜单-->
    <!--根据角色id查询对应一级菜单-->
    <select id="findParentMenuByRoleId" resultType="com.lagou.domain.Menu" parameterType="java.util.List">
        SELECT DISTINCT
        m.*
        FROM
        roles r
        INNER JOIN role_menu_relation rm
        ON r.id = rm.role_id
        INNER JOIN menu m
        ON m.id = rm.menu_id
        WHERE parent_id = - 1
        AND r.id in
        <foreach collection="list" item="roleId" open="(" separator="," close=")">
             #{roleId}
        </foreach>
    </select>

    <!--根据一级菜单的id查询对应的子菜单(对应的也就是parentId)-->
    <select id="findSubMenuByParentId" resultType="com.lagou.domain.Menu" parameterType="int">
        select * from menu where parent_id = #{pid}
    </select>

    <!--根据角色id查询对应的权限信息-->
    <select id="findResourceByRoleId" resultType="com.lagou.domain.Resource" parameterType="java.util.List">
       SELECT DISTINCT
          rs.*
        FROM
          roles r
          INNER JOIN role_resource_relation rr
            ON r.id = rr.role_id
          INNER JOIN resource rs
            ON rr.resource_id = rs.id
        WHERE r.id in
        <foreach collection="list" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>

    <!--动态菜单-->
</mapper>
